// Заголовки, загальні БЕМ блоки та інше...

.decor {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  //   left: 50%;
  //   transform: translateX(-50%);

  img {
    max-width: 100%;
  }
}

.title-block {
  display: flex;
  align-items: center;
  column-gap: rem(60);

  @media (max-width: $mobile) {
    justify-content: space-between;
    column-gap: rem(25);
  }
  &__title {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(-30);
      width: 1px;
      height: rem(27);
      background-color: #aaaaaa;
      display: block;

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__link {
  }
}

.link {
  font-family: "Futura PT";
  font-weight: 450;
  @include adaptiveValue("font-size", 16, 14);
  line-height: 131.3%; /* 21/16 */
  color: #aaaaaa;
  display: flex;
  align-items: center;
  column-gap: rem(10);
  transition: all 0.3s ease 0s;

  @media (max-width: $mobile) {
    column-gap: rem(20);
  }

  &::after {
    content: "\e901";
    @extend %ic;
    color: #aaaaaa;
    font-size: rem(11);
    transition: all 0.3s ease 0s;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #000;
      &::after {
        color: #000;
        transform: translateX(5px);
      }
    }
  }
}

.title {
  font-family: "Futura PT";
  font-weight: 450;
  @include adaptiveValue("font-size", 26, 22);
  line-height: 126.9%; /* 33/26 */
  color: #161616;

  &_center {
    width: 100%;
    text-align: center;

    &::after {
      display: none;
    }
  }
}

//========================================================================================================================================================

.navigation {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: rem(12);
  &__arrow {
    position: relative;
    pointer-events: all;
    cursor: pointer;
    &::before {
      @extend %ic;
      color: #000000;
      font-size: rem(20);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: rem(-5);
      left: rem(-5);
      bottom: rem(-5);
      right: rem(-5);
      transition: all 0.3s ease 0s;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
.button-prev {
  &::before {
    content: "\e90e";
  }
}
.button-next {
  &::before {
    content: "\e90f";
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: rem(10);
}
.swiper-pagination-bullet {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #d9d9d9;
  transition: all 0.3s ease 0s;
}
.swiper-pagination-bullet-active {
  background: rgba(22, 22, 22, 0.76);
}

//========================================================================================================================================================

.breadcrumbs {
  white-space: nowrap;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-family: "Futura PT";
    font-weight: 450;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 131.3%; /* 21/16 */
    color: #aaaaaa;
  }

  &__link {
    position: relative;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #000;

        &::before {
          opacity: 1;
        }
      }
    }

    &::after {
      content: "\e901";
      @extend %ic;
      margin: 0 rem(10);
      font-size: rem(10);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: rem(2);
      left: 0;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #000;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }

  &__current {
  }
}

//========================================================================================================================================================

.items-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));

  row-gap: rem(40);
  @include adaptiveValue("column-gap", 40, 10);
  @include adaptiveValue("padding-top", 40, 0);
  @include adaptiveValue("padding-bottom", 80, 50);

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 rem(-15);
  }
}

//========================================================================================================================================================

.nav-block {
  padding-bottom: rem(30);
  &__more {
    @include adaptiveValue("margin-bottom", 20, 30);
  }
  &__pagination {
  }
}

.pagination-product {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: rem(10);
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 131.3%; /* 21/16 */
    text-align: center;
    color: #aaaaaa;

    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(8, 112, 101, 0.3);
    border-radius: 50%;
    transition: all 0.3s ease 0s;

    &_next {
      &::before {
        content: "\e901";
        @extend %ic;
      }
    }
    &_prev {
      &::before {
        content: "\e901";
        @extend %ic;
        transform: scale(-1);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &:not(span) {
          color: #000000;
          background: rgba(8, 112, 101, 0.3);
        }
      }
    }

    &.active {
      color: #000000;
      background: rgba(8, 112, 101, 0.3);
    }
  }
}

.more {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  column-gap: rem(20);
  font-weight: 450;
  @include adaptiveValue("font-size", 26, 20);
  line-height: 126.9%; /* 33/26 */
  color: #000000;

  &::before {
    content: "\e90b";
    @extend %ic;
    @include adaptiveValue("font-size", 33, 20);
    transition: all 0.3s ease 0s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        transform: rotate(-180deg);
      }
    }
  }
}
